@model List<Termek.Models.Produto>

<h2>Lista de produtos</h2>

<table class="table table-striped">
    @foreach(var produto in Model)
    {
    <tr>
        <td width="100">
            <img src="@produto.Foto" class="img-responsive img-thumbnail">
        </td>
        <td>@produto.Marca</td>
        <td>@produto.Modelo</td>
        <td>@produto.Categoria.Descricao</td>
        <td>@produto.Quantidade</td>
        <td>@produto.Valor</td>
        <td>
            <a href="/produto/editar/@produto.Id" class="btn btn-warning btn-xs">Editar</a>
        </td>
        <td>
            @if(User.IsInRole("Administrador"))
            {
            <form asp-controller="produto" asp-action="excluir" method="post"> 
                <input type="hidden" name="id" value="@produto.Id">
                <button class="btn btn-danger btn-xs">
                    Excluir
                </button>
            </form>
            }
        </td>
    </tr>
    }
</table>